//
   Created by oujunhaku on 16/08/17.

doctype html
html
    head
        title="Best memory belongs to us"
        meta(charset="UTF-8")
        //Import jQuery and other required scripts
        include scripts
        //Import css and javascripts
        link(rel="stylesheet" type="text/css" href="/stylesheets/login.css")
        script(type='text/javascript' src='/javascripts/login.js')

    body
        include layout/_header

        div.page-main
            div.page-login
                div.message-box
                    span=""
                div.login-box
                    div.login-header
                        div.login-switch(style="float: left")
                            a.login-switch-btn(href="javascript:void(0);")="其他帐号登入"
                        div.login-switch(style="float: right")
                            a.login-switch-btn(href="javascript:void(0);")="邮箱登入"
                    div.login-panel
                        div.login-alert
                            span#login-alert=""
                        div.login-form
                            div.login-list
                                input.login-input#u(type="text" placeholder=" 邮 箱")
                            div.login-list
                                input.login-input#p(type="password" placeholder=" 密 码")
                            div.login-list
                                div.auto-login
                                    input#auto-login(value=true type="checkbox")
                                    label(for="auto-login")="下次自动登入"
                                div.get-pwd
                                    a(href="/findpwd")="忘记密码？"
                            div.login-list
                                div.login-btn(style="float: left")
                                    a(href="/register")
                                        button.login-sub(type="button" style="float: left")="注 册"
                                div.login-btn(style="float: right")
                                    button.login-sub#login-sub(type="button" style="float: right")="登 入"

        include layout/footer
