//
   Created by oujunhaku on 16/08/17.

doctype
html
    head
        title="Best memory belongs to us"
        meta(charset="UTF-8")

        link(rel="stylesheet" type="text/css" href="/stylesheets/login.css")

    body
        include layout/_header

        div(class="page-main")
            div(class="page-login")
                div(class="message-box")
                div(class="login-box")
                    div(class="login-header")
                        div(class="login-switch" style="float: left")
                            a(class="login-switch-btn" href="javascript:void(0);")="其他帐号登入"
                        div(class="login-switch" style="float: right")
                            a(class="login-switch-btn" href="javascript:void(0);")="邮箱登入"
                    div(class="login-panel")
                        div(class="login-alert")
                            span(id="login-alert")=""
                        div(class="login-form")
                            form(id="login" method="post")
                                div(class="login-list")
                                    input(class="login-input" name="u" type="text" placeholder="邮箱")
                                div(class="login-list")
                                    input(class="login-input" name="p" type="password" placeholder="密码")
                            div(class="login-list")
                                div(class="auto-login")
                                    input(id="auto-login" name="autoLogin" value=true type="checkbox")
                                    label(for="auto-login")="下次自动登入"
                                div(class="get-pwd")
                                    a(href="/findpwd")="忘记密码？"
                            div(class="login-list")
                                div(class="login-btn" style="float: left")
                                    a(href="/register")
                                        button(class="login-sub" type="button")="注 册"
                                div(class="login-btn" style="float: right")
                                    a(href="/register")
                                        button(class="login-sub" type="button")="登 入"

        include layout/footer
