//
   Created by wangrunbo on 16/08/28.

doctype html
html
    head
        title="注册成功"
        meta(charset="UTF-8")
        //Import jQuery and other required scripts
        include scripts
        //Import css and javascripts
        link(rel="stylesheet" type="text/css" href="/stylesheets/register_success.css")
        script(type='text/javascript' src='/javascripts/register_success.js')


    body
        include layout/_header

        div.page-main
            div.page-register-success
                div.register-success-img
                    img(alt="注册成功")
                div.register-success-title
                    h1="注册成功"
                div.register-success-content
                    p
                        span="将在"
                        span#timing
                        span="秒后跳转至登录页面..."
                    p="若页面没有自动跳转，请"
                        a(href="/login")="点击链接"

        include layout/footer