//
   Created by oujunhaku on 16/08/17.

link(rel="stylesheet" type="text/css" href="/stylesheets/layout/footer.css")

div(class="footer-main")
    div(class="footer-panel")
        a(target="_blank" href="http://mamol.co.jp/")="关于我们"
        span="|"
        a(target="_blank" href="/readme")="服务条款"
        span="|"
        a(target="_blank" href="#")="客服中心"
        span="|"
        a(target="_blank" href="/contactus")="联系我们"